# Specifies intentionally untracked files to ignore when using Git
# http://git-scm.com/docs/gitignore

# Always-ignore extensions
##########################
*.diff
*.err
*.orig
*.log
*.rej
*.swo
*.swp
*.zip
*.vi
*~
*.sass-cache
*.ruby-version
*.sw[mnpcod]
*.tmp
*.tmp.*
log.txt
*.sublime-project
*.sublime-workspace
.vscode/
npm-debug.log*

# OS/Editor
##########################
.idea/
.sass-cache/
.tmp/
.versions/
coverage/
dist/
node_modules/
tmp/
temp/
hooks/
platforms/
plugins/
plugins/android.json
plugins/ios.json
www/
$RECYCLE.BIN/
.DS_Store
Thumbs.db
UserInterfaceState.xcuserstate

# Node files
##########################
npm-debug.log
node_modules
.idea
*.iml

# Configuration
##########################
env.json
.env

# Logging
##########################
skeleton.log